.input-container{
    text-align: left;
    
}
input{
    margin-top: 0.5rem;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
p{
    margin: 0;
    margin-bottom: 0.25rem;
    color: red;
    font-size: 0.7rem;

}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }